@import "./contants.scss";
@import "./globals.scss";

.container {
padding: 1rem 0;
text-align: center !important;
  .title{

  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center !important;
  }
}
