@import "./contants.scss";
@import "./globals.scss";

.container {
padding: 1rem 0;
  .title{

  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
