@import "./contants.scss";
@import "./globals.scss";
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center !important;
  @media (max-width: $sm) {
    width: 180px;
    text-align: center !important;
  }
.wrapper{
  text-align: center !important;
}
  .title{

    text-align: center !important;
    @media (max-width: $sm) {
      font-size: 10px;
      text-align: center !important;
    }
  }

}
