@import "./contants.scss";
@import "./globals.scss";

.container {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  gap: 20px;
  @media (max-width: $sm), (max-width: $md) {
    font-size: 14px;
   }
  a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid $line;
  }

  .address{
    @media (max-width: $sm), (max-width: $md) {
        font-size: 12px;
       }
  }
  .hours {
    text-align: center;
  }

  .form {
    font-weight: 300;
    text-align: center;
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @media (max-width: $sm), (max-width: $md) {
       flex-direction: column;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
 
        label{
            margin-bottom: 7px;
            letter-spacing: 5px;
            text-align: left;
        }
        .input{
            padding:8px 10px;
            border: 1px solid $line;

            font-size: 10px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
           font-size:  18px;
           width: 450px;
           @media (max-width: $sm), (max-width: $md) {
            width: 100%
           }
       
        }
      }
    }
    .bottom {
        margin-top: 20px;
      .inputs {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        label{
            margin-bottom: 7px;
            letter-spacing: 5px;
            text-align: left;
        }
        .input{
     
            border: 1px solid $line;
         
            font-size: 14px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
           font-size:  18px;
           @media (max-width: $sm), (max-width: $md)  {
            width: 100%;
           }
        }
      }
    }
    button{
        padding: 10px 0px;
        font-weight: 500;
        font-size: 14px;
        background-color: #111111;
        letter-spacing: 5px;
        color: white;
        width: 20%;
        border: none;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        margin-top: 20px;
        @media (max-width: $sm), (max-width: $md)  {
         width: 100%;
        }
    }
  }
}
