

.sidebar { 
  width: 335px;

  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  color: #000;

  top: 0;
  left: 0;

  z-index: 999;

  transition: transform 0.3s ease-out;
  font-family: "Poppins", sans-serif;
}

.sidebarItem {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  font-family: "Poppins", sans-serif;
}

.sidebarTitle {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.sidebarItem.open > .sidebarTitle .toggleBtn{
  transform: rotate(180deg);

}
.sidebarContent {
  padding-top: 0.25em;
  /* height: 0;
  overflow: hidden; */
  cursor: pointer;
}
.sidebarItem.open > .sidebarContent {
  /* height: auto; */

}

.sidebarTitle span{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

