@import "./contants.scss";




.bg-primary {
  background-color: white;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1500px;
    margin: auto;
  }   

  width: 100% ;
}

.paddings {
  @media (min-width: $sm) {
    padding: 4rem;
  }

  @media (min-width: $xl), (min-width: $md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  // padding-left: 50rem;
  // padding-right: 50rem;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.xPaddings {
  @media (min-width: $sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.yPaddings {
  @media (min-width: $sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.topPaddings {
  @media (min-width: $sm) {
    padding-top: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
  }

  padding-top: 3rem !important;
}

.bottomPaddings {
  @media (min-width: $sm) {
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-bottom: 2rem;
  }

  padding-bottom: 3rem !important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: flex-end;
}

.primaryText {
  @media (max-width: $sm) {
    font-size: 1.5rem;
  }
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-family: "Tenor Sans", sans-serif ;
}

.secondaryText {
  @media (max-width: $sm) {
    font-size: 1.1rem;
    line-height: 40px;
  }
  line-height: 50px;
  font-size: 0.75rem;
  letter-spacing: 2.56px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000000;
  padding: 0;
  margin: 0;
}

.thirdText {
  @media (max-width: $sm) {
    font-size: 0.4rem;
    line-height: 25px;
  }
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 3.2px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;

}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.borderText{
  border: 1px solid #e8e8e1;
  padding: 10px 20px;
  color: black;
  font-size: 12px;
  font-weight: 300;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing:3.6px;
  cursor: pointer;
}

.button{
  padding: 10px 0px;
  font-weight: 500;
  font-size: 14px;
  background-color: #111111;
  letter-spacing: 5px;
  color: white;
  width: 70%;
  border: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  @media (max-width: $sm) {
    width: 70%;
  }
}