@import "./contants.scss";
@import "./globals.scss";

.container {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .slick-slide>div {
      transform: scale(.5);
      transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    }
  }
}
