@import "./contants.scss";
@import "./globals.scss";


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: "Tenor Sans", sans-serif ;
    iframe{
        width:550px ;
        height:315px;
        
  @media (max-width: $sm) {
    width:310px ;
    height:215px;
  }
    }

}