@import "./contants.scss";
@import "./globals.scss";

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 40px;
  .swiper {
    width: 100%;
    height: 50vh;
  }

  .swiperSlide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
  }

}
