@import "./contants.scss";
// @import "./globals.scss";

.container {
  display: flex;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    // gap: 50px;
    .left {
      flex: 1;
      display: flex;
      gap: 20px;

      .subImagesContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        .subImg {
          // width: 100%;
          // height: 150px;
          // object-fit: cover;
          cursor: pointer;
        }
      }
      .mainImgContainer {
        flex: 3;
        // width: 80%;
        // height: 100%;
        display: flex;
        align-items: center;
      }
    }

    .right {
      // padding: 20px;
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;

      .number {
        font-size: 16px;
      }
      .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;

        > :nth-child(1) {
          text-decoration: line-through;
        }
        > :nth-child(3) {
          color: $discount;
        }
      }

      .buttonWish {
        width: 30%;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: none;
        background-color: white;
        border: 1px solid black;
        padding: 6px 10px;
      }
      .buttonCart {
        width: 80%;
        border: none;
        background-color: white;
        border: 1px solid black;
        padding: 13px 20px;
        font-weight: 600;
        text-align: center;
        font-size: 14px;
        letter-spacing: 4.2px;
      }
      .descHeading {
        font-size: 22px;
        margin: 20px 0 5px 0;
      }

      .desc {
        width: 50%;
        line-height: 25.2px;
        letter-spacing: 0.45px;
        font-weight: 400;
      }
    }
  }

  .bottom {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      margin: 20px 0;
    }
    .reviewTop {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;

      .reviewTopLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-right: 20px;
        .rating {
          font-weight: 500;
        }
        .line {
          border-left: 1px solid $line;
          height: 60px;
          position: absolute;
          left: 50%;
          top: 0;
        }
        .reviewText {
          font-size: 18px;
          letter-spacing: 0.45px;
          font-weight: 400;
        }
      }

      .reviewTopRight {
        .switchButton {
          padding: 10px 50px;
          font-weight: 700;
          font-size: 16px;
          background-color: RGB(56, 56, 56);
          letter-spacing: 0.45px;
          color: white;
          border: none;
        }
      }
    }

    .review {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-direction: column;
      .reviewButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 2rem 0;

        .switchButton {
          padding: 10px 50px;
          font-weight: 700;
          font-size: 16px;
          background-color: RGB(56, 56, 56);
          letter-spacing: 0.45px;
          color: white;
          border: none;
        }
        :nth-child(1) {
          background-color: transparent;
          color: RGB(56, 56, 56);
          border: 2px solid RGB(56, 56, 56);
        }
      }
    }

    .reviews {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;

      .review {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .rating {
          color: $rating;
        }
        .personData {
          display: flex;
          align-items: center;
          gap: 7px;
          .personImg {
            width: 40px;
            height: 40px;
            background-color: #efefef;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .check {
              position: absolute;
              width: 13px;
              height: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              background-color: #000;
              bottom: 0px;
              right: 0;
              .icon {
                font-size: 12px;
                font-weight: 500;
              }
            }
          }
          .verified {
            background-color: #383838;
            padding: 1px 5px;
            color: white;
            font-size: 12px;
          }
        }

        .reviewTitle {
          font-weight: 600;
        }
        .reviewComment {
          margin-bottom: 20px;
        }
      }
    }
  }

  .hr {
    width: 100%;
    margin: 1.5rem auto;
    height: 1px;
    border-width: 0;
    color: $line;
    background-color: $line;
  }
}
