@import "./contants.scss";
@import "./globals.scss";
.container {
  width: 100%;
  background: black;
  .swiper {
    height: 70px;
    width: 90%;
    background: black;
    font-family: "Poppins", sans-serif;
    @media (max-width: $sm) {
      height: 90px;
    }
    .swiperSlide {
      text-align: center;

      font-size: 16px;
      color: white;
      background: black;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
