@import "./contants.scss";
@import "./globals.scss";


.container{
text-align: center;


.rating{
    margin: 1rem 0rem 0.3rem 0rem;
    color: #383838;
    font-size: 1.8rem;
}

.number{
text-decoration: underline;
}
}