@import "./contants.scss";
@import "./globals.scss";


.container{
text-align: center;
margin-top: 40px;

.title{
  @media (max-width: $sm) {
    font-size: 1.3rem;
  }
}
.rating{
    margin: 1rem 0rem 0.3rem 0rem;
    color: #383838;
    font-size: 1.8rem;
    @media (max-width: $sm) {
        font-size: 1.4rem;
      }
}

.number{
text-decoration: underline;
@media (max-width: $sm) {
    font-size: 0.8rem;
  }
}
}