@import "./contants.scss";
@import "./globals.scss";

.container {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem 0;
  
  @media (max-width: $sm),(max-width: $md)  {
    flex-direction: column;

  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    @media (max-width: $sm)   {
  width: 90%;
  
    }
    .title {
      margin: 10px 0;
      @media (max-width: $sm) {
        font-size: 20px;
        margin-bottom: 20px;
          }
    }
    .desc {
      width: 90%;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }
  }
}
