@import "./contants.scss";
@import "./globals.scss";


.container{

 
    background-image: url("/img/times.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 4rem 0;
    // animation: zoom-fade 0.5s cubic-bezier(.26,.54,.32,1) 0s forwards;
    background-position: top 10% right 10%;
    background-size: cover;
    overflow: hidden;

    // @keyframes zoom-fade {
    //     10% {
    //       opacity: 0;
    //       transform: scale(1.2);
    //     }
        
    //     40% {
    //         opacity: 0;
    //         transform: scale(1.1);
    //       }
          
    //       800% {
    //         opacity: 0;
    //         transform: scale(1.05);
    //       }
          

        
    //     100% {
    //         opacity: 1;
    //       transform: scale(1);
    //     }
    //   }

    .times{
        position: absolute;
        background-color: white;
        padding: 40px;
        width: 30%;
        top: 80px;
        left: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        font-size: 18px;
        p{
            margin: 10px 0px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size:16px ;
        }
        .dates{
            line-height: 2rem;
        }
       
        button{
            background-color: #111111;
            color:#ffffff;
            border: none;
            padding:10px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            letter-spacing:3.6px;
            font-size: 12px;
        }
    }

}